/* #bg{
    background-color: red; 
     background-image: url("12.jpeg");
    background-repeat: no-repeat;
    background-size: 50% 50%; 
    border: 5px solid rgb(250, 253, 250);
    border-bottom-right-radius: 100px;
    width: 37%;
    height: 35%;
    background-color: rgb(238, 218, 42);
    padding-left: 3px;
    padding-top: 6px;
}   */

/* body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
    background: rgb(76, 228, 202);
}
img{
    height: 30%;
}
.slider1{
    width: 800px;
    height: 500px;
    border-radius: 9px;
    overflow: hidden;
}
.sliders{ */
    /* justify-content: center; */
    /* width: 500%;
    height: 500px;
    display: flex;
} */
/* .slides input{
    display: none;
} */
/* .slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 800px;
    height: 500px;
}
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: 550px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;  
} */
/* .manual-btn:hover{
    background: #40D3DC;
} */
/* #radio1:checked~.first{
    margin-left: 0;
}
#radio2:checked~.first{
    margin-left: -20%;
}
#radio3:checked~.first{
    margin-left: -40%;
}
#radio4:checked~.first{
    margin-left: -60%;
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px ;
} */
/* #radio1:checked~.navigation-auto.auto-btn1{
    background: #40D3DC;
}
#radio2:checked~.navigation-auto.auto-btn2{
    background: #40D3DC;
}
#radio3:checked~.navigation-auto.auto-btn3{
    background: #40D3DC;
}
#radio4:checked~.navigation-auto.auto-btn4{
    background: #40D3DC;
}  */


/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100rem;
    background-color: grey;
}
img{
    width: 114%;
    height: 97%;
}
.box{
    position: relative;
    overflow: hidden;
}
.box .item, .box .item-hidden{
    display: none;
}
.box .item-visible{
    display: block;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.btn button{
    font-size: 40px;
    padding: 0 10px;
    margin: 0 10px;
    border: none;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
} */
